<a href="https://colab.research.google.com/github/suman-banerjee76/Hands-On-Data-Analysis-with-Pandas-2nd-edition/blob/master/CDS_B4_20220403.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1
## Euler 1
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
LIMIT = 1000

In [ ]:
def euler1_001(limit: int) -> int:
    num, total = 1, 0
    while num < limit:
        if num % 3 == 0 or num % 5 == 0:
            total += num
        num += 1
    return total

In [ ]:
print(euler1_001(LIMIT))

int euler1_001(int limit) {


def euler1_001(limit):

In [ ]:
def bad(a: int) -> int:
    return "Hello"

In [ ]:
bad(7)

In [ ]:
def euler1_002(limit: int) -> int:
    num, total = 1, 0
    while num < limit:
        if select(num):
            total += num
        num += 1
    return total


def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

In [ ]:
euler1_002(LIMIT)

In [ ]:
def euler1_003(limit: int) -> int:
    total = 0
    for num in range(1, limit):
        if num % 3 == 0 or num % 5 == 0:
            total += num
    return total

In [ ]:
print(euler1_003(LIMIT))

In [ ]:
range(9)

In [ ]:
list(range(9))

In [ ]:
list(range(6, 13))

In [ ]:
list(range(8, 127, 11))

In [ ]:
range(6, 13, -2)

In [ ]:
list(range(6, 13, -2))

In [ ]:
list(range(13, 6, -2))

In [ ]:
a = 8
b = 12
c = 2
list(range(a, b, c))

In [ ]:
def make_range():
    a = 
    b =
    c =
    return range(a, b, c)

In [ ]:
range?

In [ ]:
!python --version

In [ ]:
def select(k: int) -> bool:
    return k % 5 == 0 or k % 3 == 0

def euler1_004(limit: int) -> int:
    total = 0
    for num in range(1, limit):
        if select(num):
            total += num
    return total

In [ ]:
h = "Hello"

In [ ]:
h

In [ ]:
print(h)

In [ ]:
def euler1_005(limit: int) -> int:
    return sum(range(3, limit, 3)) \
           + sum(range(5, limit, 5)) \
           - sum(range(15, limit, 15))

In [ ]:
euler1_005(LIMIT)

In [ ]:
print(xyz)

# Problem 2
## Euler 10


The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.

Find the sum of all the primes below two million.

In [ ]:
def is_prime(n: int) -> bool:
    if n < 2:
        return False
    if n in [2, 3, 5, 7]:
        return True
    if n % 2 == 0:
        return False
    factor = 3
    while factor * factor <= n:
        if n % factor == 0:
            return False
        factor += 2
    return True

In [ ]:
def euler10_001(limit: int) -> int:
    total = 2
    for n in range(3, limit, 2):
        if is_prime(n):
            total += n
    return total

In [ ]:
euler10_001(2 * 10 ** 6)

# Problem 3
## Euler 3

The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

In [ ]:
def factorize(n: int) -> [int]:
    factors = []
    factor = 2
    while n % factor == 0:
        factors.append(factor)
        n //= factor
    factor = 3
    while n > 1:
        while n % factor == 0:
            factors.append(factor)
            n //= factor
        factor += 2
    return factors

In [ ]:
factorize(13195)

In [ ]:
f = factorize(600851475143)

In [ ]:
answer = max(f)

In [ ]:
print(factorize(13195))
print(max(factorize(13195)))

In [ ]:
n = 64
n //= 2
print(n)

# Problem 4
## Kaprekar constant

$1945$

$9541 - 1459 = 8082$

$8820 - 288 = 8532$

$8532 - 2358 = 6174$

$7641 - 1467 = 6174$

In [ ]:
def num2digits(n: int) -> [int]:
    digits = []
    while n > 0:
        digits.insert(0, n % 10)
        n //= 10
    return digits

In [ ]:
print(num2digits(1728))

In [ ]:
def digits2num(ds: [int]) -> int:
    num = 0
    for d in ds:
        num = num * 10 + d
    return num

In [ ]:
print(digits2num([1,8,6,7]))

In [ ]:
def largest(n: int) -> int:
    return digits2num(sorted(num2digits(n), reverse=True))
def smallest(n: int) -> int:
    return digits2num(sorted(num2digits(n)))

In [ ]:
print(largest(1786))
print(smallest(1954))

In [ ]:
def next_kap(n: int) -> int:
    return largest(n) - smallest(n)

In [ ]:
print(next_kap(1945))

In [ ]:
def kap_seq(n: int) -> [int]:
    seq = [n]
    k = next_kap(n)
    while k not in seq:
        seq.append(k)
        k = next_kap(k)
    return seq

In [ ]:
print(kap_seq(1944))

In [ ]:
a = [3, 7, 9, "Hello", 2 > 3]

In [ ]:
for x in a:
    print(x)

In [ ]:
kap_seq(12345)

In [ ]:
def digits2num(ds: [int]) -> int:
    if len(ds) == 1:
        return ds[-1]
    return digits2num(ds[:-1]) * 10 + ds[-1]

In [ ]:
digits2num([1, 7, 2, 9])

In [ ]:
def digits(n: int) -> [int]:
    digits = []
    while n > 0:
        digits.append(n % 10)
        n //= 10
    return digits

In [ ]:
digits(1786)